﻿@model FtpPlayground.Mvc.Models.ExplorerModel

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th style="width:10%">Type</th>
                <th style="width:40%">File / Directory Name</th>
                <th style="width:40%"></th>
                <th style="width:10%">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null && Model.GridItems != null)
                {
                    foreach (var item in Model.GridItems)
                    {
                        <tr>
                            @if (item.IsDirectory)
                            {
                                <!-- Directory -->
                                <td scope="row">
                                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                </td>
                                <td>@item.FileName</td>
                                <td></td>
                                <td><button id="btn-open-folder" type="button" class="btn btn-default btn-block btn-xs" data-directoryid="@item.Id" disabled>Open</button></td>
                            }
                            else
                            {
                                <!-- File -->
                                <td scope="row">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                </td>
                                <td>@item.FileName</td>
                                <td>
                                    <div class="progress invisible" style="height: 1px; margin-top:5px; margin-bottom:0;">
                                        <div id="bar-download-progress-@item.Id" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p id="txt-download-status-@item.Id" class="text-muted text-right" style="font-size:10px"></p>
                                </td>
                                <td><button id="btn-download-file" type="button" class="btn btn-success btn-block btn-xs" data-fileid="@item.Id">Download <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></button></td>
                            }
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        // Grid items event handlers
        var downloadFileButtons = $('button[id="btn-download-file"]');

        if (downloadFileButtons.length > 0) {

            downloadFileButtons.on('click', function (e) {

                // Get file id of the file we want to download
                var fileId = $(e.currentTarget).data('fileid');

                downloadFile(fileId,
                    // Ok
                    function (res) {
                        // debugger;

                        var downloadStatusElement = $('#txt-download-status-' + fileId);
                        var downloadProgressElement = $('#bar-download-progress-' + fileId);

                        // Add download id data attribute to the grid item
                        downloadStatusElement.attr("data-downloadId", res.downloadId);
                        downloadProgressElement.attr("data-downloadId", res.downloadId);
                    },
                    // Error
                    function (fileId) {
                        // debugger;
                    });
            });
        }

        // TODO
        //var openFolderButtons = $('button[id="btn-open-folder"]');

        //if (openFolderButtons) {
        //    openFolderButtons.on('click', function (e) {
        //    });
        //}

        // SignalR event handlers
        downloadManagerHubProxy.on('downloadProgress', function (downloadId, downloadRate, downloadSize, downloadProgress, downloadTime) {
            $('[id*="txt-download-status"][data-downloadId="' + downloadId + '"]').text(downloadRate + ' - ' + downloadSize + ', ' + downloadTime);

            $('[id*="bar-download-progress"][data-downloadId="' + downloadId + '"]').parent().removeClass('invisible');
            $('[id*="bar-download-progress"][data-downloadId="' + downloadId + '"]').css('width', downloadProgress + '%');
        });

        downloadManagerHubProxy.on('downloadCompleted', function (downloadId, downloadTime, filePath, error) {
            $('[id*="txt-download-status"][data-downloadId="' + downloadId + '"]').text(filePath + ' Completed in ' + downloadTime);
            $('[id*="bar-download-progress"][data-downloadId="' + downloadId + '"]').css('width', '100%');
        });

        downloadManagerHubProxy.on('downloadCancelled', function (downloadId, filePath) {
            $('[id*="txt-download-status"][data-downloadId="' + downloadId + '"]').text(filePath + ' Cancelled');
            $('[id*="bar-download-progress"][data-downloadId="' + downloadId + '"]').css('width', '0%');
        });

    });

</script>