﻿<div class="row">
    <h2>Explorer</h2>
    <p>This page lets you browse contents of an FTP server.</p>
</div>

<div class="row">

    <!-- FTP server details -->
    <div class="col-lg-3 col-md-6" style="padding-right:10px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">FTP Server Details</h3>
            </div>
            <div class="panel-body fixed-panel">
                <form class="form-horizontal" style="padding-left:20px; padding-right:20px">
                    <div class="form-group">
                        <!-- Textbox: FTP Uri -->
                        <div class="input-group">
                            <span id="label-explorer-ftp-uri" class="input-group-addon"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></span>
                            <input id="txt-explorer-ftp-uri" type="text" class="form-control" placeholder="FTP server address" aria-describedby="label-explorer-ftp-uri" value="ftp://ftp.otenet.gr/ubuntu" /><!-- ftp://test.rebex.net/pub/example ftp://ftp.dlptest.com/-->
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Textbox: Username -->
                        <div class="input-group">
                            <span id="label-explorer-ftp-username" class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                            <input id="txt-explorer-ftp-username" type="text" class="form-control" placeholder="Username" aria-describedby="label-explorer-ftp-username" value="anonymous" /> <!-- demo dlpuser@dlptest.com-->
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Textbox: Password -->
                        <div class="input-group">
                            <span id="label-explorer-ftp-password" class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                            <input id="txt-explorer-ftp-password" type="password" class="form-control" placeholder="Password" aria-describedby="txt-explorer-ftp-password" value="anonymous" /> <!-- password e73jzTRTNqCN9PYAAjjn-->
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Button: Fetch -->
                        <div class="input-group col-md-3">
                            <button id="btn-explorer-fetch" type="button" class="btn btn-primary ld-ext-right">Fetch<div class="ld ld-ring ld-spin"></div></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Grid -->
    <div class="col-lg-9 col-md-6">
        <div id="container-explorer-grid" class="panel panel-default ld-over">
            <div class="ld ld-ring ld-spin" style="font-size:2em"></div>
            <div class="panel-heading">
                <h3 class="panel-title">Directory Listing</h3>
            </div>
            <div class="panel-body fixed-panel-scroll">
                <div id="container-explorer-griditems" style="padding-left:20px; padding-right:20px">
                    @{Html.RenderPartial("_Grid");}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    // Get references to commonly used controls
    var btnExplorerFetch = $('#btn-explorer-fetch');
    var txtExplorerFtpUri = $('#txt-explorer-ftp-uri');
    var txtExplorerFtpUsername = $('#txt-explorer-ftp-username');
    var txtExplorerFtpPassword = $('#txt-explorer-ftp-password');

    var containerExplorerGrid = $('#container-explorer-grid');
    var containerExplorerGridItems = $('#container-explorer-griditems');

    // Init
    $(document).ready(function () {

        // Disable caching of AJAX responses
        $.ajaxSetup({
            cache: false
        });

        // Event handlers
        btnExplorerFetch.on('click', function () {

            // TODO: Parameter validation

            // Get current ftp parameters and load the grid
            loadGrid(
                txtExplorerFtpUri.val(),
                txtExplorerFtpUsername.val(),
                txtExplorerFtpPassword.val()
            );
        });

    });

    // Loads grid items from server
    function loadGrid(ftpUri, ftpUsername, ftpPassword) {

        // Block UI elements
        blockUI();

        // Init request
        var requestData = {
            ftpUri: ftpUri,
            ftpUsername: ftpUsername,
            ftpPassword: ftpPassword,
        };

        // Send async ajax request
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadGrid", "Explorer")',
            data: requestData,
            async: true,
            success: function (res) {

                // Render partial view
                containerExplorerGridItems.html(res);

                // Unblock UI elements
                unblockUI();

            },
            error: function (result, status, er) {
                // TODO: Remove
                // alert('error: ' + result + ' status: ' + status + ' er:' + er);
            },
            complete: function () {
                // Unblock UI elements
                unblockUI();
            }
        });
    }

    // Downloads file from server
    function downloadFile(fileId, okCallback, errorCallback) {

        // Init request
        var requestData = {
            fileId: fileId
        };

        // Send async ajax request
        $.ajax({
            type: 'GET',
            url: '@Url.Action("DownloadFile", "Explorer")',
            data: requestData,
            async: true,
            success: function (res) {
                okCallback(res);
            },
            error: function (result, status, er) {
                // debugger;
                errorCallback(fileId);
            },
            complete: function () {
                // debugger;
            }
        });
    }

    // Blocks buttons and grid container
    function blockUI() {

        // Block controls if they are not blocked
        if (!btnExplorerFetch.hasClass('running')) {
            btnExplorerFetch.addClass('running');
            btnExplorerFetch.prop("disabled", true);
        }

        if (!containerExplorerGrid.hasClass('running')) {
            containerExplorerGrid.addClass('running');
            containerExplorerGrid.prop("disabled", true);
        }
    }

    // Unblocks buttons and grid container
    function unblockUI() {

        // Block controls if they are blocked
        if (btnExplorerFetch.hasClass('running')) {
            btnExplorerFetch.removeClass('running');
            btnExplorerFetch.prop("disabled", false);
        }

        if (containerExplorerGrid.hasClass('running')) {
            containerExplorerGrid.removeClass('running');
            containerExplorerGrid.prop("disabled", false);
        }
    }

</script>
