﻿
<div class="row">
    <h2>Contact</h2>
</div>
<div class="row">
    <div class="col-lg-8">
        <p>
            Digging this app? Drop me a line at <a href="mailto:alexfeature@gmail.com">alexfeature@gmail.com</a> and let me know what you think.
            <br />
            <br />
            If you want to contribute get the source from my <a href="https://bitbucket.org/megaduckvilain/exercise-ftpplayground/src/">bitbucket repo</a> and get cracking!
        </p>
    </div>
</div>
