﻿
<div class="jumbotron">
    <h1>FTP Playground</h1>
    <p class="lead">Simple ASP.Net based application that indexes files on an FTP server and lets users choose files they wish to download.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Want to download a file or two from an ftp site but can not be botherd to install FileZila?
            <br />
            I know how you feel.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Explorer")">Get to exploring &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Source Code</h2>
        <p>
            If you feel like poking around the code for this app head over to my Bitbucket repo.
            <br />
            Constructive criticism is always welcome!
        </p>
        <p><a class="btn btn-default" href="https://bitbucket.org/megaduckvilain/exercise-ftpplayground/src/">Source code &raquo;</a></p>
    </div>
</div>