﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FTP Playground</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/loading")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-signalR")
    @Scripts.Render("~/bundles/loading")

    <script type="text/javascript">

        // SignalR initialization
        var connection;
        var downloadManagerHubProxy;

        $(document).ready(function () {

            window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(new Uri(new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)), Url.Content("~/")).ToString(), true));
            connection = $.hubConnection(window.applicationBaseUrl + "@Url.Content("/")" + "/signalr", {useDefaultPath: false });

            // Log errors
            connection.error(function (error) {
                console.log('SignalR error: ' + error)
            });

            downloadManagerHubProxy = connection.createHubProxy('DownloadManagerHub');

            // Initialize proxies
            downloadManagerHubProxy.on('start', function () {
                // Refer to the Note section of the following documentation on why we do this
                // https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-javascript-client#establishconnection
            });

            // Start the connection
            connection
                .start()
                .done(function () {
                    console.log('SignalR connected with Id ' + connection.id + ' !');
                }).fail(function () {
                    console.log('SignalR could not connect!');
                });
        });

    </script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FTP Playground", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Explorer", "Index", "Explorer")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Alexander Pavlovsky</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>