﻿
<div class="row">
    <h2>About</h2>
</div>
<div class="row">
    <div class="col-lg-8">
        <p>
            This application was hastly put together as a proof of concept for an FTP browser. It doesn't go far beyond the most basic features of what your web browser can offer.
        </p>
        <p>
            On the technical side it is build with modularity in mind, so many modules are implementations of very simple interfaces.
            The main work horse of the entire application is the DownloadManager class. It is responsible for keeping track of all downloads and it also manages cancellation tokens so that in the future it is possible to add download cancellation as a feature.
        </p>
        <p>
            In order to facilitate server-to-client communication for progress feedback the application relies on SignalR.
        </p>
        <p>
            Overall the flow can be summrised in just a few points:
            <ul>
                <li>Fetch directory listing from FTP server (using NLIST command)</li>
                <li>Select file(s) to download (starts download on dedicated background task via HostingEnvironment.QueueBackgroundWorkItem per file)</li>
                <li>Get feedback on the download progress (DownloadManager periodically invokes delegates which eventually trigger SignalR calls to the client)</li>
                <li>Browse working directory to find downloaded file(s)</li>
            </ul>
        </p>
        <p>
            There are many improvements that can be made here but overall the application does what I set out to do for the proof of concept stage.
        </p>
    </div>
</div>
